@charset 'utf-8';

@import url('import/_reset.css');

body {
  color: #000;
}
div {
  display: flex;
  color: #ffffffaa;
}
div::after {
  content: '';
  color: #00f;
}

@media screen and (max-width:36em) {
  .copyright {
    float: none;
    clear: left;
  }
}

@media screen and (max-width:36em) {
  .a {
    color: #f00;
  }
}